.background {
  position: fixed;
  z-index: -1;
}

.title-button {
  text-decoration: none;
  color: inherit;
}

.login-wrapper {
  background: url("../../public/assets/images/wallpaper.jpeg")  no-repeat 50% / cover;
}
