.carousel {
  height: 100vh;
}

.slide-1 {
  background: url("../../assets/images/slide1-min.jpeg") no-repeat 50% / cover;
}

.slide-2 {
  background: url("../../assets/images/slide2-min.jpeg") no-repeat 50% / cover;
}

.slide-3 {
  background: url("../../assets/images/slide3-min.jpeg") no-repeat 50% / cover;
}
