.carousel {
  height: 100vh;
}

.slide-1 {
  background: url("../../assets/images/slide1.JPG") no-repeat 50% / cover;
}

.slide-2 {
  background: url("../../assets/images/slide2.JPG") no-repeat 50% / cover;
}

.slide-3 {
  background: url("../../assets/images/slide3.JPG") no-repeat 50% / cover;
}
