img {
    width: 240px;
    height: 300px;
    object-fit: cover;
}

.scene {
    perspective: 800px;
}

.card {
    position: relative;
    width: 240px;
    height: 300px;
    color: white;
    cursor: pointer;
    transition: 1s ease-in-out;
    transform-style: preserve-3d;
}

.card:hover {
    transform: rotateY(180deg);
 }

.card_face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: 1s ease-in-out;
}

.card_face-back {
    transform: rotateY(180deg);
 }
